Repository kisstar/rc-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:html, yarn run lint:style, yarn run lint:es, yarn run lint:md, yarn run prettier

feat(menu): add folding symbols and embellishments
  src/components/menu/SubMenu.tsx
  src/components/menu/demo/index.demo.tsx
  src/components/menu/index.tsx
  src/components/menu/style/_mixin.scss
  src/components/menu/style/index.scss
  src/pages/Home.tsx
  src/styles/layout/_default.scss
  src/styles/themes/_default.scss
  tsconfig.build.json
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

feat(menu): support responsive menu
  src/components/menu/MenuContext.tsx
  src/components/menu/SubMenu.tsx
  src/components/menu/demo/index.demo.tsx
  src/components/menu/index.tsx
  src/components/menu/style/index.scss
  src/pages/Home.tsx
  src/pages/home.scss
  src/styles/_variables.scss
  src/styles/index.scss
  src/styles/layout/_default.scss
  src/styles/mixins/_breakpoints.scss
  src/styles/themes/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test: update menu related docs and tests
  package.json
  src/components/menu/__tests__/__snapshots__/index.test.tsx.snap
  src/components/menu/__tests__/index.test.tsx
  src/components/menu/index.tsx
  src/stories/Menu.stories.tsx
  src/tests/utils.ts
Due: yarn run lint:es, yarn run prettier

test: supplementary test
  src/components/icon/__tests__/__snapshots__/index.test.tsx.snap
  src/components/icon/__tests__/index.test.tsx
  src/components/menu/__tests__/index.test.tsx
Due: yarn run lint:es, yarn run prettier

feat(transition): add animation related components
  package.json
  src/components/transition/CSSTransition.tsx
  src/components/transition/demo/index.demo.scss
  src/components/transition/demo/index.demo.tsx
  src/components/transition/index.tsx
  src/pages/Home.tsx
  src/pages/home.scss
  src/styles/index.scss
  src/styles/lib/animate.scss
  yarn.lock
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test(transition): test the basic functions of animation components
  src/components/transition/CSSTransition.tsx
  src/components/transition/__tests__/__snapshots__/index.test.tsx.snap
  src/components/transition/__tests__/index.test.tsx
  src/index.tsx
Due: yarn run lint:es, yarn run prettier

fix: wrong default value is provided for scriptUrl
  src/components/icon/IconFont.tsx
  src/components/icon/demo/index.demo.tsx
  src/components/transition/demo/index.demo.scss
  src/pages/Home.tsx
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

test: test the subcomponents of the menu component
  src/components/menu/__tests__/index.test.tsx
  src/tests/expectToThrow.ts
  src/tests/index.ts
Due: yarn run lint:es, yarn run prettier

feat(menu): add overtones to SubMenu
  src/components/menu/SubMenu.tsx
  src/components/menu/demo/index.demo.tsx
  src/components/menu/style/index.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

feat(menu): decouple CSSTransition from Menu
  src/components/menu/SubMenu.tsx
  src/components/menu/style/index.scss
  src/styles/layout/_default.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

docs: update document
  .storybook/preview.js
  src/components/button/index.tsx
  src/components/config-provider/index.tsx
  src/components/transition/CSSTransition.tsx
  src/stories/CSSTransition.stories.tsx
  src/stories/Icon.stories.tsx
  src/stories/RcUI.stories.mdx
  src/stories/styles/transition.scss
Due: yarn run lint:style, yarn run lint:es, yarn run prettier

fix(transition): lost inline styles on direct subcomponents
  src/components/transition/CSSTransition.tsx
  src/components/transition/demo/index.demo.tsx
Due: yarn run lint:es, yarn run prettier

chore: prettier ignore CHANGELOG.md
  .prettierignore
Due: none

feat(menu): remove the eventkey property of SubMenu and update the test
  src/components/menu/SubMenu.tsx
  src/components/menu/__tests__/__snapshots__/index.test.tsx.snap
  src/components/menu/__tests__/index.test.tsx
  src/components/menu/index.tsx
Due: yarn run lint:es, yarn run prettier

docs: modify the package name to @kisstar/rc-ui
  README.md
  package.json
  src/stories/RcUI.stories.mdx
Due: yarn run lint:md, yarn run prettier

chore(release): 0.2.0
  CHANGELOG.md
Due: yarn run lint:md, yarn run prettier

Updates
  asset-manifest.json
  iframe.html
  index.html
  main.003e7dd6213e8b22806b.bundle.js
  main.415bf2113eb3afc5c607.bundle.js
  main.415bf2113eb3afc5c607.bundle.js.map
  main.76f18cb5141715a2cea0.bundle.js
  main.76f18cb5141715a2cea0.bundle.js.map
  main.bb572ff512497d6ad6d5.bundle.js
  precache-manifest.9a40a4c7f8a814f126202dfec906e6d2.js
  precache-manifest.ff0c690289c7f4cc7c0fd82b8faab9cf.js
  runtime~main.415bf2113eb3afc5c607.bundle.js.map
  runtime~main.76f18cb5141715a2cea0.bundle.js
  runtime~main.76f18cb5141715a2cea0.bundle.js.map
  service-worker.js
  static/css/main.26c6945d.chunk.css
  static/css/main.26c6945d.chunk.css.map
  static/css/main.286c9fc9.chunk.css
  static/css/main.286c9fc9.chunk.css.map
  vendors~main.415bf2113eb3afc5c607.bundle.js
  vendors~main.415bf2113eb3afc5c607.bundle.js.map
  vendors~main.76f18cb5141715a2cea0.bundle.js
  vendors~main.76f18cb5141715a2cea0.bundle.js.LICENSE.txt
  vendors~main.76f18cb5141715a2cea0.bundle.js.map
  vendors~main.8283616d9fbc76c2eff3.bundle.js
  vendors~main.8283616d9fbc76c2eff3.bundle.js.LICENSE.txt
  vendors~main.eb1d416ff60e901be279.bundle.js
Due: yarn run lint:html, yarn run lint:style, yarn run lint:es, yarn run prettier

Path conditions:
  yarn run lint:html: any of: **/*.{htm,html}
  yarn run lint:style: any of: *.{css,scss}
  yarn run lint:es: any of: *.{js,jsx,ts,tsx}
  yarn run lint:md: any of: *.md
  yarn run prettier: any of: **/*.{js,jsx,ts,tsx,json,css,scss,md}
